.recruitment_container {
    background-color: transparent;
    z-index: -10000;
    position: relative;
    height: 810px;
    margin-top: -450px;
    margin-bottom: 100px;
}

.recruitment_background {
    background-image: url('../../../public/assets/section-5--img.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 80%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: -2;
}

.recruitment_title {
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 700;
    position: relative;
    width: auto !important;
    margin: 100px 0 0 0;
}

.recruitment_content {
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 300;
    position: relative;
    width: auto !important;
    margin: 50px 0;
}

.recruitment_title:before {
    content: '';
    background: url('../../../public/assets/title-under-bar.png');
    width: 50px;
    height: 10px;
    position: absolute;
    left: 0;
    z-index: -1;
    top: 20px;
}

.recruitment_info {
    padding: 20px;
}

.recruitment_info_container {
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(30px);
    border-radius: 10px;
    height: 390px;
}

.recruitment_info_title {
    padding: 50px 40px 30px 40px;
    color: #7ec2be;
    font-size: 20px;
}

.divider {
    border-top: solid 2px #93a0a8;
    margin: 0 40px;
}

.recruitment_info_content_title {
    font-size: 20px;
    color: white;
    padding: 30px 40px 0 40px;
}

.recruitment_info_content_body {
    font-size: 20px;
    color: white;
    font-weight: 200;
    padding: 10px 40px 0 60px;
    position: relative;
}

.recruitment_info_content_body:before{
    content: '.';
    position: absolute;
    left: 50px;
    top: 4px;
}