@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

.header {
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  font-family: 'Noto Sans KR', sans-serif;
  z-index: 100;
}

.logo {
  text-align: center;
  width: 15%;
  line-height: 120px;
  font-weight: bold;
  font-size: 1vw;
}

.menu {
  padding: 50px 180px;
  display: flex;
  justify-content: space-between;
  width: 1000px;
  float: right;
}

.menu_item {
  padding: 0 20px;
  color: #FBFBFD;
  font-size: 16px;
}